<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eccoo test</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <div id="image">
      <span role="img" aria-label="Diverse group of people with colourful landscape on background"> </span>
    <!-- <img src="../public/journey.jpg" alt="Diverse group of people with colourful landscape on background"> -->
    </div>
  </header>
  <nav>
    <ol class="nav">
      {% for name, link in links %}
        <li class="nav-item"><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <main role="main">
  {% block content %}
    {{ message }}
  {% endblock %}
  </main>
</body>
</html>