{% extends 'page.html' %}

{% macro formfield(id, label, type="text", placeholder) %}
<fieldset>
  <label class="coloured" for="{{ id }}">{{ label }}</label><input class="input-field" id="{{ id }}" name="{{ id }}"
    type="{{ type }}" placeholder="{{ placeholder }}" />
</fieldset>
{% endmacro %}

{% macro radiofield(type="radio", id, name, label, required) %}
<fieldset>
  <input type="{{ type }}" id="{{ id }}" name="{{ name }}" required>
  <label for="{{ id }}">{{ label }}</label><br>
</fieldset>
{% endmacro %}


{% block content %}
<form class="form-horizontal">

  <h1>Sign up for support</h1>

  <div class="form-fields">
    <div class="single-field">
      {{ formfield("name", "Name", "What should we call you?") }}
    </div>
    <div class="single-field">
      {{ formfield("email", "Email", "e.g. me@example.com") }}
    </div>
  </div>

  <div class="radio-buttons">
    <div class="single-button">
      {{ radiofield("support-me", "support-choice", "The support is for me") }}
    </div>
    <div class="single-button">
      {{ radiofield("support-others", "support-choice", "The support is for someone else") }}
    </div>
  </div>

  <button class="btn btn-success">Sign up</button>

</form>

<!--Form input dump is not usable by user nor relevant for them. I've commented the code out to allow easy recovery and manipulation of data when needed-->
<!-- <code><pre>{{ query | dump(2) }}</pre></code> -->
{% endblock %}