<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eccoo test</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1>Eccoo test site</h1>
    <div id="image">
      <span role="img" aria-label="Diverse group of people with colourful landscape on background"> </span>
    </div>
  </header>
  <nav>
    <ol class="nav">
      {% for name, link in links %}
        <li class="nav-item"><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <main role="main">
  {% block content %}
    {{ message }}
  {% endblock %}
  </main>
</body>
</html>