* {
  margin: 0;
  padding: 0;
}

#image {
  background-image: url("./journey.jpg");
  /*Using max-width instead of width to avoid image scaling up more than its original size*/
  max-width: 100%;
  height: 250px; 
  /*Styling to image is always centered and adjusts to different device sizes*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}


body, input, button {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;  
  
}

body > * {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  
}

.nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  
}

.nav-item {
  padding-right: 1em;
  color: black;
}